entrypoint="index.html"

hidden=[".config"]

modules = ["web", "python-3.11"]


[nix]

channel = "stable-23_11"


[deployment]

publicDir = "/"

deploymentTarget = "static"


[workflows]

runButton = "Project"


[[workflows.workflow]]

name = "Project"

mode = "parallel"

author = "agent"


[[workflows.workflow.tasks]]

task = "workflow.run"

args = "WebServer"


[[workflows.workflow]]

name = "WebServer"

author = "agent"


[[workflows.workflow.tasks]]

task = "shell.exec"

args = "python -m http.server 5000"

waitForPort = 5000


[workflows.workflow.metadata]

outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36635
externalPort = 3000

[agent]
expertMode = true
